{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/books/wishlist.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Wishlist</h1>
</section>

<section class="card-container">
  {% for book in books %}
  <div class="card">
    <a href='/wishlist/{{ book.id }}'>
    <div class="card-content">
      <div class="card-img-container">
        {% if forloop.counter|divisibleby:2 %}
        <img
          class="book_cover"
          src="{% static 'images/BVwhite.jpg' %}"
          alt="white round tray"
        />
        {% else %}
        <img
          class="book_cover"
          src="{% static 'images/BVred.jpg' %}"
          alt="red round tray"
        />
        {% endif %}
      </div>
      <span><h2 class="card-title">{{ book.title }}</h2>
      <p> {{ book.author }}</p>
      <p><small>{{ book.genre}}</small></p></span>
    </div>
  </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
