{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'images/round2.jpg' %}"
    />

    <title>Library List</title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}" />

    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <div id="top"></div>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'images/JZmirror.png' %}" alt="Library List Logo" />
        </a>
      </div>
      <nav id="navbar">
        <ul>
          {% if user.is_authenticated %}
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
            {% comment %} <li><a href="{% url 'book-create' %}">Add New Book</a></li> {% endcomment %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href='/admin'>Admin</a></li>
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
     <button id="back-to-top" title="Back to top">↑Top</button>
     <script>
      document.addEventListener("DOMContentLoaded", function(){
        const btn = document.getElementById("back-to-top");
      
        window.addEventListener("scroll", () => {
          if (window.scrollY > 200) {
            btn.style.display = "block";
          } else {
            btn.style.display = "none";
          }
        });
      
        btn.addEventListener("click", () => {
          window.scrollTo({
            top: 0,
            behavior: "smooth"
          });
        });
      });
      </script>
     <script src="{% static 'main_app/header.js' %}"></script>
     <script src="{% static 'main_app/navbar.js' %}"></script>
  </body>
</html>

  