{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'images/round2.jpg' %}"
    />

    <title>Library List</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'images/JZmirror.png' %}" alt="Library List Logo" />
        </a>
      </div>
      <nav id="navbar">
        <ul>
          <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
          <li><a href="{% url 'book-create' %}">Add New Book</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href='/admin'>Admin</a></li>
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
     <script src="{% static 'main_app/navbar.js' %}"></script>
  </body>
</html>
